.page-wrap{
    display: flex;
}

.sidebar-wrap {
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    margin-top: -40px;
}

.edit-area {
    margin: 30px;
}

.reserve-area {
    margin: 30px;
}

.sidebar-wrap a {
    color: white;
    text-decoration: none;
}

.edit-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.reserve-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit-main{
    max-width: 800px;
    margin-left:20%;
}




.reserve-wrap {
    width: 1000px;
    margin: 0 auto;
}

.title-area{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.table-area{
    margin-top:100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 30%;
    background-color: gainsboro;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

td {
    width: 70%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}

.submit-button-area {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}





