
.calendar-wrap {
    width: 1000px;
    margin: 0 auto;
}

.title-area{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.full-calendar{
    margin-top: 50px;
}

.fc-event-title-container {
    background-color: black;
    color: white;
    text-align: center;
}

.fc-daygrid-event-harness {
    margin-bottom: 10px;
}

.fc-h-event{
    border: 1px solid black;
    border-radius: 1px;
}

.white-black .fc-event-title-container{
    background-color: white;
    color: black;
}

.gray-black .fc-event-title-container{
    background-color: gray;
    color: black;
}