.page-wrap{
    display: flex;
}

.sidebar-wrap {
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    margin-top: -40px;
}

.edit-area {
    margin: 30px;
}

.reserve-area {
    margin: 30px;
}

.sidebar-wrap a {
    color: white;
    text-decoration: none;
}

.edit-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.reserve-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit-main{
    max-width: 800px;
    margin-left:20%;
}




.update-wrap {
    width: 1000px;
    margin: 0 auto;
}

.title-area{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.information-area {
    width: 100%;
    margin: 50px 0;
}

.information-top {
    background-color: gainsboro;
}

.information-top h4 {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 30%;
    background-color: gainsboro;
    border: 1px solid black;
    padding: 5px;
}

td {
    width: 70%;
    border: 1px solid black;
    padding: 5px;
}

input {
    width: 100%;
}

label {
    margin-left: 20px;
}

.two-input input {
    width: 35%;
    margin-left: 5px;
}

.button-area {
    margin-top: 50px;
    width: 100%;
    text-align: right;
}

.a {
    padding: 3px 20px;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}