.page-wrap{
    display: flex;
}

.sidebar-wrap {
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    margin-top: -40px;
}

.edit-area {
    margin: 30px;
}

.reserve-area {
    margin: 30px;
}

.sidebar-wrap a {
    color: white;
    text-decoration: none;
}

.edit-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.reserve-area div {
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit-main{
    max-width: 800px;
    margin-left:20%;
}

.title-wrap {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}