
.img-area{
    max-width:1000px;
    margin: 0 auto;
    position: relative;
}

.search-img {
    width: 100%;
    height: 500px;
}

.search {
    width:100%;
    margin: 50px auto;
    text-align: center;
    position: absolute;
    top:10%;
    left:0;
    z-index: 1;
}

.search-area {
    margin: 0 auto;
    max-width: 800px;
    width: 60%;
    background-color: white;
}

.form{
    width:100%;
}

#genre{
    border-left:1px solid black ;
    border-right: 1px solid black;
}

.input-area{
    padding-left:1%;
    border: none;
    width: 25%;
    height: 40px;
    outline: none;
    justify-content: center;
}

.input{
    border:none;
    outline: none;
    height: 40px;
}

.flex__item {
    display: flex;
}

.button-area{
    width: 25%;
    height:100%;
    background-color: black;
}

.search-button{
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
}

.area-wrap{
    margin: 30px auto;
    padding-bottom: -1px;
    max-width: 700px;
    text-align: center;
    flex-wrap: wrap;
}

.area-area{
    width: 25%;
    margin: 0 25px;
}

.area-title{
    box-shadow: 2px 2px 2px;
    border: 1px solid gainsboro;
    padding: 10px 0;
    font-weight: bold;
}

.area-button{
    text-decoration: none;
    color: black;
}

.commit-wrap{
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
}

.commit-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.commit-img-area{
    width:20%;
}

.commit-img{
    width: 100%;
}

.commit-p{
    font-weight: bold;
}