
.main-left{
    width: 70%;
}

.budget-holiday-area{
    display: flex;
}

.bold{
    font-weight: bold;
}

.img-area{
    width: 100%;
    margin-top: 10px;
}

.shop-img {
    width: 100%;
}

.overview-area {
    background-color: rgb(229, 229, 229);
    min-height: 50px;
}

.overview-area-p {
    padding: 5px 0 0 5px;
}

.basic_information-area{
    max-width: 800px;
    margin: 30px auto 0 auto;
    padding-bottom: 30px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.h3{
    border-left: 2px solid gray;
    padding-left: 20px;
}

.basic_information-area table{
    width:100%;
    border-collapse: collapse;
}

.basic_information-area th {
    width: 30%;
    background-color: rgb(229, 229, 229);
    padding: 5px;
}

.basic_information-area td {
    width: 70%;
    padding-left: 50px;
}

.basic_information-area tr {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.photo-area {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 2px solid gray;
}

.photo-img-area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photo-img{
    width: 19%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.comment-area{
    max-width: 800px;
    margin: 30px auto;
}

.comment-title-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-button{
    color: white;
    background-color: black;
    height: 20px;
    width: 100px;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.comment-user-area {
    display: flex;
    align-items: center;
}

.user-img{
    width: 50px;
}

.comment-main-area{
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    padding: 10px;
}

.comment-left{
    width: 70%;
}

.comment-right{
    width: 30%;
    padding-top: 30px;
}

.comment-img{
    width: 100%;
}

.comment-title{
    font-weight: bold;
    text-decoration: underline;
}
